@font-face {font-family: "Ubuntu-R";src: url(Ubuntu-R.ttf) format("truetype");}
@font-face {font-family: "BebasNeue";src: url(BebasNeue.otf) format("truetype");}
@font-face {font-family: "Ubuntu-RI";src: url(Ubuntu-RI.itf) format("truetype");}

* {
    font-family: 'Ubuntu-R','BebasNeue','Ubuntu-RI';
}
body {font-family: 'Ubuntu-R','BebasNeue','Ubuntu-RI';padding:0;margin:0;font-size:14px;background-color:#ffffff;color:#57b4db;}
a {text-decoration:none;font-family: 'Ubuntu-R';color:#57b4db;cursor:pointer;}/*opacity:0.7*/
a:hover {text-decoration:underline;}
.ui-widget-content a {color:#57b4db !important;}
h2 {color:#2c2c2c;z-index:0}
p {text-align:justify; font-size:15px;}
.t_d_u {text-decoration:underline;}

.ui{font-family: "Ubuntu-RI";}
.bn{font-family: "BebasNeue", "Arial Narrow"}

.clear { clear: both; }

/*font sizes*/
.f52 {font-size:52px;}
.f42 {font-size:42px;}
.f36 {font-size:36px;}
.f33 {font-size:33px;}
.f25 {font-size:25px;}
.f24 {font-size:24px;}
.f23 {font-size:23px;}
.f18 {font-size:18px;}
.f17 {font-size:17px;}
.f13 {font-size:13px;}
.f12 {font-size:12px;}

/*colors*/
.w{color:#ffffff;}
.b {color:#25aae1;}
.lg {color:#9c9c9c;}
.llg {color:#d9d9d9;}
.lllg {color:#f8f8f8;}
.dg {color:#4f4f4f;}
.ddg {background-color:#272727}


.ib {display:inline-block;}
.t_a_r{text-align:right;}
.t_a_l{text-align:left;}
.wat {vertical-align:top;}
.b_top {border-top:1px solid #4f4f4f;}
.b_bottom {border-bottom:1px solid #4f4f4f;}
.pb5{padding-bottom:10px;}

.bbor{border: 1px solid #313131}

.p10 {padding-left:10px;}
.p15 {padding-left:15px;}
.p52{padding-left:52px;}
.pt8 {padding-top:8px;}
.pt20{padding-top:20px;}
.pt28{padding-top:28px;}

.h52 {height:52px;}
.h26 {height:28px;}
.h20 {height:20px;}

.logo {position:absolute;top:5px;left:15%;z-index:102;}
.nav {position:absolute;top:0px;left:0px;width:100%;height:50px;text-align:center;z-index:99}
.nav_triangle{display:hidden}
.nav_links {padding-top:20px;padding-right:15px;}
.nav_links a {font-size:16px;}


.header {position:relative;top:50px;}
.img_main {position:relative;min-height:500px;left:0px;text-align:center; margin-top: 50px;}
.img_main {
    background-image:url('back.jpg');
}
.main_logo{position:relative;margin:auto;text-align:center;padding: 10px;z-index:98;}
.main_logo .date {font-weight:bold; font-size:35px; color:#FFFFFF;}
.main_logo .sub_date {font-size:22px; font-weight:bold;}
.main_img{display:inline-block;max-width:100%;}

.sponsor{position: relative;z-index:100; text-align: center; margin-top: 35px; margin-bottom: 10px;}
.pos_sponsor {z-index:110; color: white; max-width: 550px; display: inline-block; }
.pos_sponsor_background {
    position: absolute;
    z-index:100;
    width: 100%;
    height: 100%;
    background-color:#264d62;
    opacity:0.4;
}
.pos_sponsor_overlay {
    position: relative;
    z-index: 110;
}
.pos_sponsor_overlay div {
    padding: 5px;
}

.b_txt {text-align:center;}
.n_txt {top:445px;}
.m_txt {top:485px;}
.l_txt {color:#ffffff;text-decoration:underline;}
.bm_txt {top:525px;}


.panel {position:relative;min-height:250px;text-align:center;margin-top:-4px;background-color:#d9d9d9;padding: 5px;}
.sub_panel {margin:auto;max-width:1000px}
.info {margin:auto;display:inline-block;padding-top:15px;vertical-align:top;text-align:left;}
.info1 {float:left;max-width:550px;}
.info2 {max-width:360px; padding-left:0px;}
@media all and (max-width:900px)
{
.sub_panel {text-align: left;}
.info {text-align: left;}
.info1 {display:block;max-width:600px;}
.info2 {display:inline-block;max-width:350px; padding-left:0px; padding-bottom: 10px;}
}

.main_panel{position:relative;min-height:270px;padding: 5px;}
.main_panel .info2 {
    padding-left: 40px;
}
.news_bar {width:300px;min-height:60px;border-bottom:1px solid #d9d9d9;}
.news_c {height:40px;}
.news_s {height:15px;}

.speakers{position:relative;background-color:#f8f8f8;color:#ffffff;min-height:315px;text-align:center;}
.img_sp {display:inline-block;margin:0 5px;width:135px;height:135px;background-color:#57b4db;color:#ffffff;}
.img_sp:hover { color: #57b4db}
.naz_sp {display:none;width:135px;height:135px;background-color:#57b4db;}
.img_sp:hover .img_sp1{opacity:0.4;}
.img_sp:hover .naz_sp{display:block;}


.sub_panel{padding:5px;}
.pb5{display: block;}
.sp_sch{position:relative;min-height:250px; margin-top: 90px;padding:5px; padding-bottom: 0;}
.info3 {float: right;}
.button {width:200px;height:28px;background-color:#57b4db;opacity:0.7;text-align:center;float:right;}
.social {background-color:#d9d9d9;min-height:145px;padding:5px;text-align:right;}
.social a {border:0px none}
.pb5:after {
    content: ' ';
    display: block;
    clear: both;
}

.osm {position:relative;top:60px;height:400px;}
.osm_map {width:100%;height:250px;}

.sponsors{position:relative;top:60px;background-color:#d9d9d9;height:650px;}

.footer{position:relative;background-color:#272727;height:90px;text-align:center;padding-top:15px}

@media all and (max-width:920px) 
{
/* .info {font-size:25px;} */
/* .main_logo {top:60px;} */
/* .main_img {width:50%;} */
/*.sponsor {width:200px;top:80px;height:40px;right:5px;margin:0;}*/
.big_txt {width:200px;font-size:16px;top:80px;height:40px;right:5px;margin:0;}

.nav_triangle {position:relative;margin:0;background:#ffffff;}
.nav_triangle:after{content:"";position:absolute;top:15px;right:15px;border-width:15px 15px 0;border-style:solid;border-color:#57b4db transparent;display:block;width:0;}
.nav {width:100%;right:15px;}
.nav_links{display:none;padding-bottom:5px;padding-left:40%;background-color:#272727}
.nav:hover .nav_links{display:block;padding-top:8px;text-align:left;}

.footer {height:120px;padding-top:10px;}
.copy {padding:8px;}
.copy1 {width:60%;font-size:12px;}
.copy2 {width:30%;font-size:14px;}
}
.ui-front, .ui-dialog { z-index:300 !important; }
